body {
  margin: 0;
  font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  background-color: black;
  color: white;
}

.navbar {
  background-color: #15418c;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.navlink {
  color: white;
  text-decoration: none;
}

.main {
  margin: auto;
  padding: 1rem;
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallary-container {
  position: relative;
  width: 500px;
}

.gallary-content {
  object-fit: cover;
  object-position: bottom;
  max-width: 100%;
}

.btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  color: white;
  background-color: #15418c;
  transform: translateY(50%);
  height: 50%;
  opacity: 0.5;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.gallary-sidebar {
  align-self: stretch;
}

.content-title,
.content-copyright {
  text-align: center;
}

.content-description {
  max-width: 66ch;
  word-wrap: break-word;
}
